<div class="container">
  <div class="card">
    <h1>Rock Paper Scissors</h1>
    <h3>Choose your move</h3>
    <img src="assets/rock.png" width="120" (click)="myfun('rock')" alt="">
    <img src="assets/paper.png" width="120" (click)="myfun('paper')" alt="">
    <img src="assets/scissors.png" width="120" (click)="myfun('scissors')" alt="">
    <h2>Computer chose {{computer}}</h2>
    <h2>{{result}}</h2>
    <div id="score">
      <h3>User: {{user_score}}</h3>
      <h3>Computer: {{computer_score}}</h3>
    </div>
    <button (click)="resetGame()">Reset</button>
  </div>
</div>